.avni{
	float:left;
	
}

section.item1{
	border: 1px solid black;
	height: 235x;
	width: 400px;
	padding:1%;
	margin: -80px 120px 20px;
	-webkit-box-shadow: 0 16px 12px -1px black;
	   -moz-box-shadow: 0 16px 12px -1px black;
	        box-shadow: 0 16px 12px -1px black;
			 
}

aside.item2{
	border: 1px solid black;
	height: 235px;
	width: 400px;
	padding:1%;
	margin: -80px 0px 0px 800px;
	-webkit-box-shadow: 0 16px 12px -1px black;
	   -moz-box-shadow: 0 16px 12px -1px black;
	        box-shadow: 0 16px 12px -1px black;
			 transition: all 10s ease;
}

h2{
	margin: 100px auto;
	text-align:center;
	text-decoration: none;
}
